<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">So, here's what you get!:</h3>
            <br>
              <div class="col-md-4">
                <center>
                  <img src="https://cdn0.iconfinder.com/data/icons/ballicons/128/3d-128.png" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Enjoy</h4>
                  <p class="footertext">Tons and tons of short films rigth away</p><br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="https://cdn2.iconfinder.com/data/icons/movix-circular/128/cinema_movie_entertainment_film_camera-128.png" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Direct</h4>
                  <p class="footertext">Become a movie maker, upload your content.</p><br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="https://image.flaticon.com/icons/png/128/206/206992.png" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Share</h4>
                  <p class="footertext">Share your movies with the world. Share your favourites shorts.</p><br>
                </center>
              </div>
            </div>
            <div class="row">
            <p><center><a href="#">shortflix@shortflic.com</a> <p class="footertext">Copyright 2017</p></center></p>
        </div>
    </div>
</div>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with Unq-ShortFlix</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">shortflix.surge.sh</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>