<div class="col-lg-3 col-md-4 col-sm-6">
    <article class="card">
    <header class="title-header">
      <h3>{{movie.title}}</h3>
    </header>
    <div class="card-block">
      <div class="img-card">
        <img src={{movie.cover}} alt="Movie" class="w-100" />
      </div>
      <p class="tagline card-text text-xs-center">{{movie.description}}</p>
    </div>
  </article>
</div>