$main-color: #12ae63;

@import 'ember-bootstrap/bootstrap';
@import 'footer';
@import 'movie_card';
@import 'movie_big_card';
@import 'navbar';
@import 'carousel';

h1 { margin-left: 16px; }

body {
  background: #151514;
}

h1, h2 {
  color: $main-color;
}
