.video-iframe {
	margin: auto;
}

.short-video-container {
	display: flex;
}

.short-description-container {
	display: flex;
}

.short-description {
	width: 50%;
	margin: auto;
}

.return-button {
	float: right;
	color: white;
	margin-right: 16px;
	margin-top: 30px;
	align: bottom;
}

.video-header {
	width: 100%;
}

.short-video-title {
	display: inline-block;
}
