
{{#paper-toolbar }}
  <div class="md-toolbar-tools">
    {{#paper-button raised=true primary=true}}{{#link-to 'index'}}Home{{/link-to}}{{/paper-button}}
    {{#paper-button raised=true primary=true}}{{#link-to 'shorts'}}Shorts{{/link-to}}{{/paper-button}}
    <div class="paper-right">
      {{paper-icon 'person'}}
      {{#if session.isAuthenticated}}
      {{#paper-button action 'logout'}}Logout{{/paper-button}}
      {{else}}
      {{#paper-button raised=true primary=true}}{{#link-to 'login'}}Login{{/link-to}}{{/paper-button}}
      {{/if}}
    </div>
    
  </div>

{{/paper-toolbar}}


{{outlet}}

{{main-footer}}