{{#link-to "movies"}}
  <div class="container">
    <div style="text-decoration: none !important;" class="jumbotron">
      <h1 style="text-decoration: underline; color: #4112AE">Check our Shorts!</h1> 
    </div>
  </div>
{{/link-to}}