{{#link-to "movies"}}
  <div class="container">
    <div style="text-decoration: none !important;" class="jumbotron">
      <h1 style="text-decoration: underline; color: #12ae63">Check our Movies!</h1> 
    </div>
  </div>
{{/link-to}}