<div class="obj-wrapper-movies">
 <div class="content_movies">
    <br>

<div class="panel panel-primary">
    <div class="panel-heading text-center panel-relative"><h4>Most Viewed Shorts</h4></div>
</div>
<main class="container">
  {{movies-row movies=model.allMovies}}
</main>
<br>
<div class="panel panel-primary">
    <div class="panel-heading text-center panel-relative"><h4>Latest Shorts</h4></div>
</div>
<main class="container">
  {{movies-row movies=model.allMovies}}
</main>


</div>
</div>


{{outlet}}